APP_URL=http://localhost/cursos/public
APP_USE_INDEX=false
APP_ENV=local
APP_DEBUG=true
INSTITUTION_CNPJ=30.358.115/0001-13
INSTITUTION_LOGO_PATH=assets/images/logo-escura.png

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cursos
DB_USERNAME=root
DB_PASSWORD=
